@import "tailwindcss";

@font-face {
  font-family: "firaGO";
  src: url("../fonts/FiraGO-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "firaGO";
}
:root {
  --purple: #8338EC;
  --light-purple: #B588F4;
  --gray-border:#CED4DA;
  --light-border: #DEE2E6;
  --yellow:#F7BC30;
  --orange:#FB5607;
  --pink:#FF006E;
  --blue:#3A86FF;
  --gray:#474747
}