@import "tailwindcss";

@font-face {
  font-family: "firaGO";
  src: url("../fonts/FiraGO-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "firaGO";
}
:root {
  --purple: #8338ec;
  --light-purple: #b588f4;
  --gray-border: #ced4da;
  --light-border: #dee2e6;
  --yellow: #f7bc30;
  --orange: #fb5607;
  --pink: #ff006e;
  --blue: #3a86ff;
  --gray: #474747;
  --green: #08a508;
  --red: #fa4d4d;
}
