@import "tailwindcss";

@font-face {
  font-family: "firaGO";
  src: url("../fonts/FiraGO-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "firaGO";
}
:root {
  --solid-button: #8338EC;
  --hover-button: #B588F4;
  --light-border: #DEE2E6;
  --yellow:#F7BC30;
  --orange:#FB5607;
  --pink:#FF006E;
  --blue:#3A86FF;
  --border-color:#CED4DA;
  --gray:#474747
}